<div class="container">
<!-------------------------upload file modal------------------------------------->
  <div id="modal1" class="modal modal-fixed-footer">

    <div class="model-header">
      <div class="section"><span style="font-size: 24px;">&nbspFile Upload</span></div>
      <div class="divider"></div>
    </div>

    <div class="modal-content">

      <div class="row">

        <p ng-show="showUploadMsg">Choose files to upload to your Dropbox.</p>
        <div ng-show="showUploadFiles && uploadedFiles.length>0">
          <ul class="collection">
            <li class="collection-item" ng-repeat="file in uploadedFiles track by $index" ng-class="{'uploaded':uploadedPercent[file.name.replace(' /g','')]==100}">
              <div class="uploadedFilePane row ">
                <div class="col s6" ><span>{{file.name}}</span>
                </div>
                <div class="col s4" ng-show="uploadedPercent[file.name.replace(' /g','')]">
                  <span>{{uploadedPercent[file.name.replace(' /g',"")]}} %</span>
                </div>
                <div class="col s2 push-s1" ng-if="uploadedPercent[file.name.replace(' /g','')]==100">
                  <i class="material-icons tiny">done</i>
                </div>
                <div class="col s2 push-s1">

                  <div class="preloader-wrapper tiny active" ng-if="uploadedPercent[file.name.replace(' /g','')] && uploadedPercent[file.name.replace(' /g','')]!=100">
                    <!---->
                    <div class="spinner-layer spinner-green-only">
                      <div class="circle-clipper left">
                        <div class="circle"></div>
                      </div>
                      <div class="gap-patch">
                        <div class="circle"></div>
                      </div>
                      <div class="circle-clipper right">
                        <div class="circle"></div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
          </ul>
        </div>

      </div>
      <!-- Upload right away after file selection:
<div class="button" ngf-select="upload($file)">Upload on file select</div>
<div class="button" ngf-select="uploadFiles($files)" multiple="multiple">Upload on file select</div>
  Drop File:
<div ngf-drop="uploadFiles($files)" class="drop-box"
  ngf-drag-over-class="'dragover'" ngf-multiple="true" 
  ngf-pattern="'image/*,application/pdf'">Drop Images or PDFs files here</div>
<div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div> -->
    </div>
    <div class="modal-footer">
      <div class="row">
        <div class="col s9">
          <form name="form">
            <!--  <div class="button" 
   >Select</div> -->

            <a class="waves-effect waves-light btn" ngf-select="upload($file)" ng-model="file" name="file" ngf-pattern="'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'"
              ngf-accept="'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'" ngf-max-size="20MB" ng-click="$event.preventDefault()">Choose file</a>

            <!--  Multiple files
  <div class="button" ngf-select ng-model="files" ngf-multiple="true">Select</div>
  Drop files: <div ngf-drop ng-model="files" class="drop-box">Drop</div>
  <button type="submit" ng-click="submit()">submit</button> -->
          </form>
        </div>
        <div class="col s3">
          <a class="waves-effect waves-light btn modal-action modal-close " ng-click="clearUploadedFile($event)">cancel</a>
          <!--<a href="#!" ng-click="$event.preventDefault()" class=" modal-action modal-close waves-effect waves-green btn-flat">cancel</a>-->
        </div>
      </div>
    </div>
  </div>
<!-------------------------****************------------------------------------->

    <div class="row">
        <div class="col s10">
            <table class="responsive-table centered highlight bordered">
                <thead>
                    <tr>
                        <th data-field="id">Doc_Id</th>
                        <th data-field="name">Document Name</th>
                        <th data-field="date">Date Updated</th>
                        <th data-field="download">download file</th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="doc in store.uploadedDocs track by $index">
                        <td ><a href="#!" style="cursor: pointer;" ng-click="$event.preventDefault();openDoc(doc)">{{doc._id}}</a></td>
                        <td >{{doc.fileName}}</td>
                        <td ng-if="doc.lastUpdatedDate">{{doc.lastUpdatedDate|date:short}}</td>
                        <td ng-if="doc.dateUploaded && !doc.lastUpdatedDate" >{{doc.dateUploaded|date:short}}</td>
                        <td class="highlight"><i class="material-icons" ng-click="downloadFile(doc)" >get_app</i></td>
                    </tr>
                </tbody>
            </table>


        </div>
    </div>
    
      <div class="row">
    <div class="fixed-action-btn">
      <a class="btn-floating btn-large red">
        <i class="large material-icons">mode_edit</i>
      </a>
      <ul>
        <li><a class="btn-floating green" ng-click="uploadDoc()"><i class="material-icons">publish</i></a></li>
        <!--<li><a class="btn-floating blue" ng-click="hoist()"><i class="material-icons">attach_file</i></a></li>-->
      </ul>
    </div>

  </div>
</div>